/* .heading {
    margin-top: 30px;
    text-align: center;
    color: blue;
}

/* @media(max-width:400px) {
   .date {
    width: 133%;
   }
} */

.custom-navbar {
    background-color: #0D2EA0;
}

.navbar-nav a {
    color: #fff !important;
} 

.navbar-nav span:hover{
    text-decoration: underline;
    color: black;
}

.fa-edit {
    color: #6f9a1c;
    cursor: pointer;
}

.fa-trash-alt {
    color: #f90505;
    cursor: pointer;
}

.fa-calendar-plus {
    color: gainsboro;
}

.fa-list-alt {
    color: gainsboro;
}

.fa-cog {
    color: gainsboro;
}

.date {
    width: 147%;
}

.loader {
    position: fixed;
    top: 40%; /* 50%*/
    left: 45%; /* 50%*/
    z-index: 999;
    text-align: center;
}

.loading {
    /* background: rgba(0,0,0,0.6); */
    opacity: 0.4;
}

.dropdown-menu  .dropdown-item {
    color: red !important;
}

.reminders {
    margin: 30px;
}

.reminder {
    margin: 10px;
    width: 22rem;
}

.fa-whatsapp {
    color: #149f05;
    font-size: 1.1rem;
}

.fa-envelope {
    color: #fb4912;
    font-size: 1.1rem;
}

.fa-comment-dots {
    font-size: 1.1rem;
    color: #0f4ddc;
}

.fa-telegram-plane{
    font-size: 1.1rem;
    color: #0c22e6;
}